@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    @apply bg-background;
  }
}

/* globals.css */
.responsive-bg {
  background-repeat: no-repeat;
  background-size: 900px 900px;
  background-position: 130% 50%;
}

@media (max-width: 640px) {
  .responsive-bg {
    background-size: 500px 500px;
    background-position: 50% 50%;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .responsive-bg {
    background-size: 700px 700px;
    background-position: 300% 50%;
  }
}

@media (min-width: 1025px) {
  .responsive-bg {
    background-size: 800px 800px;
    background-position: 130% 50%;
  }
}

@media (min-width: 1280px) {
  .responsive-bg {
    background-size: 700px 700px;
    background-position: 120% 50%;
  }
}

